/* You can add global styles to this file, and also import other style files */
html,body
{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #F5F7FA;
}
