.myContainer{
  display: grid;
  place-items: center;
  background: transparent;
  width: 100%;
  height: 100%;
  margin-top: 90px;
  font-size: 16px ;
}

.main-button{
  background-color: #bae9ec;
  font-size: 30px;
  padding: 9px;
  border: 1px solid #a09b9b;
  border-radius: 20px;
}
.main-button:hover{
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #90a3b1;
  color: white;
}
