<div class="myContainer">
  <h1 class="fw-bold">Welcome to Resume Builder</h1>
  <h2 class="display-3">You can build multiple resume, with multiple templates</h2>
    <div style="height: 200px;margin-top: 30px" routerLink="/resume">
      <p class="main-button shadow-lg">Create New Resume</p>
    </div>
</div>
