<div class="myContainer">


  <div class="model shadow-lg">
    <h3>Reset Password</h3>
    <form class="row row-cols-sm-auto g-3 align-items-center">

      <div class="col-12">
        <div class="input-group">
          <div class="input-group-text">New Password</div>
          <input type="password"  [(ngModel)]="password" class="form-control" required name="usr" placeholder="Enter new password">
        </div>
      </div>

      <div class="col-12">
        <div class="input-group">
          <div class="input-group-text">Confirm Password</div>
          <input type="text" [(ngModel)]="confirmPassword" class="form-control" required name="pswd" placeholder="Enter Confirm password">
        </div>
      </div>


      <div class="col-12">
        <button type="button" class="btn btn-success" (click)="resetPassword()">Reset Password</button>
        <br>
        <p class="bg-light fs-5 text-muted" *ngIf="showMessage">
          {{logProcessMessage}}  <span class="spinner-grow spinner-grow-sm text-danger" role="status" aria-hidden="true"></span>
        </p>
      </div>
    </form>
  </div>
</div>
