.allResume{
  display: flex;
  justify-items: center;
  justify-content: center;
  padding: 20px;
}
.resumeCard{
  height: 200px;
  width: 150px;
  border: 1px dashed black;
  background-color: #e7ebec;
  border-radius: 20px;
  color: black;
  padding: 10px;
}
.resumeCard:hover{
  transform: scale(1.01, 1.01);
  box-shadow: 5px 10px 18px #888888;
  transition-duration: 0.2s;
}
.buttonGroup{
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#resId{
  font-size: 10px;
}

.templateCard{
  height: 200px;
  width: 150px;
  border: 1px solid gray;
  background-color: #e7ebec;
  border-radius: 2px;
  color: black;
  padding: 3px;
  cursor: pointer;

}

.templateCard:hover{
  transform: scale(1.008, 1.008);
  box-shadow: 5px 10px 18px #888888;
  transition-duration: 0.2s;
}

.selectedResume{
  transform: scale(1.01, 1.01);
  border: 1px dashed blue;
  box-shadow: 5px 10px 18px #ee8499;
  transition-duration: 0.2s;
}
.allTemplates{
  display: flex;
  justify-items: center;
  justify-content: center;
  padding: 20px;
}
