<div class="myContainer">
  <div class="model shadow-lg m-5">
    <h3>Forgot Password</h3>
    <form class="row row-cols-sm-auto g-3 align-items-center">

      <div class="col-12">
        <div class="input-group">
          <div class="input-group-text">Email</div>
          <input type="email"  [(ngModel)]="email" class="form-control" name="usr" placeholder="Enter Your email">
        </div>
        <h4 class="help-text text-muted">A password reset link will be send on your email</h4>

      </div>

      <div class="col-12">
        <button type="button" class="btn btn-success" (click)="sendToken()">Send Reset Link</button>
      </div>
    </form>
  </div>
  <p class="bg-light fs-5 text-muted" *ngIf="showMessage">
    {{logProcessMessage}}      <img src="assets/images/Cube.gif" alt="spinner" height="40" width="40">
  </p>
</div>
