<nav class="navbar fixed-top navbar-expand-lg navbar-light myNav">
  <div class="container-fluid">
    <a class="navbar-brand ms-3" href="#" >Resume Builder</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-grid gap-2 d-md-flex justify-content-md-end" id="navbarNavAltMarkup">
      <div class="navbar-nav h4">
        <a class="nav-link" routerLinkActive="active" aria-current="page" href="#" *ngIf="!userLogged" routerLink="/auth/register">Registration</a>
        <a class="nav-link" routerLinkActive="active" aria-current="page" href="#" routerLink="/operator">RxJS Operator</a>
<!--        <a  class="nav-link" routerLinkActive="active" aria-current="page" href="#" routerLink="/core">Core Module</a>-->
        <a *ngIf="userLogged" class="nav-link" routerLinkActive="active" aria-current="page" href="#" routerLink="/profile">Profile</a>

        <a *ngIf="userLogged" class="nav-link" routerLinkActive="active" aria-current="page" href="#" routerLink="/resume">Resume Builder</a>

        <div class="">
          <a *ngIf="!userLogged" routerLinkActive="active" class="btn btn-outline-success  h4 me-md-2" type="submit" routerLink="/auth/login">Login</a>
          <a *ngIf="userLogged" routerLinkActive="active" class="btn btn-outline-danger h4" type="submit" (click)="logoutUser()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>
